<!DOCTYPE html>
<html>
<head>
  <title>Add or Delete</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="FruitList" ng-controller="myCtrl">
  <input ng-model="addMe">
  <button ng-click="addItem()">Add</button>
  <p>{{errortext}}</p>
  <p>Pesan Error akan muncul apabila memasukkan data yang sama</p>

  <div class="list">
  <ul>
    <li ng-repeat="x in products"> {{x}}
    <button ng-click="removeItem($index)"> × </button>
  </li></ul>
  </div>


<script>
var app = angular.module("FruitList", []); 
app.controller("myCtrl", function($scope) {
    $scope.products = ['hallo'];
    $scope.addItem = function () {
        $scope.errortext = "";
        if (!$scope.addMe) {return;}        
        if ($scope.products.indexOf($scope.addMe) == -1) {
            $scope.products.push($scope.addMe);
        } else {
            $scope.errortext = "Data sudah ada.";
        }
    }
    $scope.removeItem = function (x) {
        $scope.errortext = "";    
        $scope.products.splice(x, 1);
    }
});
</script>
</body>
</html>