body{
  margin-left: 30%;
  margin-top: 5%;
}
p{
	color: #666666;
	font-size: 16px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50%;
  border-color:#dedede; 
  background-color: #dedede;
}

li{
  display: block;
  color: white;
  padding: 15px 10px;
  text-decoration: none;
  background-color: #b3b3b3;

}
button {
  background-color: #666666;
  border-radius: 12px;
  color: white;
  padding: 12px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
input {
	float: left;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #b3b3b3;
  color: white;
}
.list button {
  background-color: white;
  border-radius: 12px;
  color: grey;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  cursor: pointer;
  float: right;
}